@font-face {
  font-family: "MaruBuri";
  src: url("../fonts/MaruBuri_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

body {
  font-family: "MaruBuri", "Roboto", "Roboto Slab", sans-serif;
}
